.about {
    padding: 100px 16px;
    background-color: #e5e4e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 2.5rem;
        margin-bottom: 16px;
        text-align: center;
    }

    &__subtitle {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    &__description {
        font-size: 1.2rem;
        margin-bottom: 40px;
        text-align: center;
        max-width: 1000px;
    }

    &__skills {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }
}