@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.about {
    padding: 80px $spacing-sm;
    background-color: $background-color;
    @include swirling-shadow-effect($shadow-color: #000,
            $swirl-intensity: 1,
            $animation-duration: 5s);

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: $spacing-xs;
        font-size: 2rem;
        text-align: center;
        color: $text-color;
    }

    &__greeting {
        font-size: 1.75rem;
        color: $primary-color;
        text-align: center;

        &-text {
            margin: $spacing-sm 0;
        }
    }

    &__subtitle {
        font-size: 1.5rem;
        margin-bottom: $spacing-md;
        color: $text-color;
    }

    &__description {
        font-size: 1rem;
        text-align: left;
        max-width: 1000px;
        margin: $spacing-sm auto;
        background-color: $white;
        padding: $spacing-md;
        border-radius: 10px;
        box-shadow: $shadow-md;
        border-inline: 5px solid $primary-color;
        line-height: 1.6;
    }

    &__skills {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-sm;
        justify-content: center;
        max-width: 600px;
        list-style: none;
        padding: 0;
    }

    &__skill-item {
        list-style: none;
    }

    @include tablet {
        &__title {
            font-size: 2.5rem;
        }

        &__subtitle {
            font-size: 2rem;
            margin-bottom: $spacing-md;
        }

        &__description {
            font-size: 1.25rem;
            padding: $spacing-lg;
            margin: $spacing-md;
        }

        &__skills {
            gap: $spacing-md;
        }
    }

    @include desktop {
        &__title {
            margin-top: $spacing-xl;
            font-size: 3rem;
        }

        &__subtitle {
            font-size: 2.5rem;
            margin-bottom: $spacing-lg;
        }

        &__description {
            font-size: 1.5rem;
            padding: $spacing-xl;
            margin: $spacing-lg;
        }

        &__skills {
            gap: $spacing-lg;
        }
    }
}