@use "../../partials/mixins" as *;

.about {
    padding: 80px 16px;
    background-color: #e5e4e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        margin-top: 24px;
        font-size: 2rem;
        text-align: center;
    }

    &__subtitle {
        font-size: 1.5rem;
        margin-bottom: 16px;
    }

    &__description {
        font-size: 1rem;
        text-align: center;
        max-width: 1000px;
        margin: 16px auto;
        background-color: #fff;
        padding: 16px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &__skills {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        max-width: 600px;
    }

    @include tablet {

        &__title {
            margin-top: 32px;
            font-size: 2.5rem;
        }

        &__subtitle {
            font-size: 2rem;
        }

        &__description {
            font-size: 1.25rem;
            padding: 24px;
        }
    }

    @include desktop {

        &__title {
            margin-top: 40px;
            font-size: 3rem;
        }

        &__subtitle {
            font-size: 2.5rem;
        }

        &__description {
            font-size: 1.5rem;
            padding: 32px;
        }
    }
}