@use "../../partials/mixins" as *;

.labels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.label {
    display: flex;
    align-items: center;
    margin: 4px;
    padding: 4px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

    &__image {
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }

    &__name {
        font-size: 0.875rem;
        font-weight: 600;
    }

    &:nth-child(3n + 1) {
        border: 1px solid #20a7d8;
        color: #20a7d8;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background-color: #20a7d8;
            color: #fff;

            &__image {
                filter: invert(1);
            }
        }
    }

    &:nth-child(3n + 2) {
        border: 1px solid #CD921E;
        color: #CD921E;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background-color: #CD921E;
            color: #fff;

            &__image {
                filter: invert(1);
            }
        }
    }

    &:nth-child(3n + 3) {
        border: 1px solid #c10528;
        color: #c10528;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background-color: #c10528;
            color: #fff;

            &__image {
                filter: invert(1);
            }
        }
    }
}

@include tablet {
    .label {

        &__image {
            width: 24px;
            height: 24px;
        }

        &__name {
            font-size: 1rem;
        }
    }
}

@include desktop {
    .label {

        &__image {
            width: 32px;
            height: 32px;
        }

        &__name {
            font-size: 1.125rem;
        }
    }
}